@charset "UTF-8";

/* ----------------------------	전체영역---------------------------- */
* {
	font-family: 'Noto Sans KR', sans-serif !important;
}
a{
	text-decoration : none !important;
}
.ui-datepicker.header input{
	border:none !important;
}

body {
	margin: 0px;
}
hr{
	border-radius:5px;
} 
/* ----------------------------	헤더 ----------------------------*/
.header {
	width: 65%;
	margin: 0 auto;
	padding: 100px 20px 0px 20px;
	box-sizing: content-box !important;
} 
header > hr{
	border: solid 3px #4346FF !important;
	opacity : 100% !important
}
#logo {
	float: left;
}

#boxoffice {
	float: left;
	margin: 48px 10px 0px 0px;
	width: 200px;
	max-width: 200px;
	font-weight: bold;
	font-size: 15px; 
}

.navbar {
	float: right;
	display: flex;
	padding: 0px !important;
}

.iconlabel {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 20px;
}

.iconlabel > .bi {
	font-size: 35px;
	color: #4346FF;
}
.iconlabel > .bi:hover {
	font-weight:bold;
	color: #FF0088;
}
.iconlabeltext {
	color: black;
	margin: 2px 0px;
	font-size: 12px;
}

/* ----------------------------	푸터	---------------------------- */
footer {
	clear: both;
	height: 200px;
	background-color: #EEF0F2;
	margin: 0px 0px 0px 0px !important;
}

.footer {
	padding-top: 10px;
	width: 65%;
	margin: 0 auto;
	font-size: 12px;
}

#bonew {
	color: #FF0088;
	margin-right: 10px;
}

#botitle {
	float: right;
	max-width:170px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}

.footerdetail {
	padding-top: 10px;
}

.bottomline {
	position: relative;
	top: 40px;
}

#members {
	float: left;
}

#copyright {
	float: right !important;
}
/* 	------------------------메인----------------------------	*/
.chart_text > h1{ 
	letter-spacing:-3px;
}
#banner_button_set{
    /*border: 2px solid red;*/
    height: 50px;
    position: relative;
}
 
.c_banner{
    width: 100%; 
    max-width:100% !important;
    padding:0px !important;
    overflow: hidden;
    min-height:700px;
}
.c_banner video {
	position:absolute;
	top:-77px;
}
.main-banner img{
	height:350px !important;
}

.main_banner{
    /*border: 2px solid blue;*/
    position: relative;
}

.banner_set{
    /*border: 2px solid green !important;*/
    position: absolute !important;
    font-family: 'Noto Sans KR', sans-serif;
    color: white;
    padding-left: 5% !important;
    left:13%;
    top: 500px;
    max-width: 100% !important;
    transform: translateY(-50%);
}
 
.cardset{
    display:flex !important;
    justify-content: center!important;
    align-items: center!important;
    flex-direction:column;
    margin-right: calc(0.075 * var(--bs-gutter-x))!important;
    margin-left: calc(0.075 * var(--bs-gutter-x))!important;
    
}
#cardcontainer{
	 max-width:65% !important;
	 margin-bottom:50px;
}
.r_moviechart{
/*     margin :auto !important; */
}

.card_moviechart{
	display:block !important;
	position: relative;
	overflow:hidden;
    margin : 0 !important;
    padding: 0 !important

}
.card_slide {
	position: relative; display : flex;
	clear: both;
	left: 0;
	top: 0;
	width: 400%; /* 슬라이드할 사진과 마진 총 넓이 */
	transition: left 0.5s ease-out;
	display: flex;
	padding:0px !important;
}

.controller span{
  position:absolute;
  background-color: transparent;
  color:  #4346FF;
  font-weight:bolder;
  text-align: center;
  border-radius: 50%;
  padding: 10px 20px;
  top: 50%;
  font-size: 1.3em;
  cursor: pointer;
}
.controller span:hover{
  background-color: rgba(128, 128, 128, 0.11);
}

.prev{
  left: -40px;
}
 

.next{
  right: -40px;
}
.card_posterFrame{
    width: 11rem !important;
    padding-left : 0 !important;
    padding-right : 0 !important;
    min-height:335px;
}

.card_frameset {
    /*border: 2px solid yellow;*/
    position: relative;
}
 
.chart_text {
    /*border : 2px solid #051b11;*/
    margin-top: 60px !important;
    margin-bottom: 20px !important;
}

/* -Button Style- */

/* 상세보기 버튼 */
.detail_b {
    display:block;
    position: absolute !important;
    top: 50%;
    transform: translate(0, -50%);

    border-color: #D2D6D9 !important;
    background-color: #D2D6D9 !important;
    color: black !important;
    --bs-btn-border-radius: 5rem !important;
    width: 110px;
}

/* 일시정지 버튼 */
.pause {
    font-size: 2rem;
    position: absolute !important;
    margin-left: 10%;
    top: 50%;
    transform: translate(0, -50%);
}

/* 음소거 버튼 */
.mute{
    font-size: 2rem;
    position: absolute !important;
    margin-left: 13.5%;
    top: 50%;
    transform: translate(0, -50%);
}

/* 예매 버튼 */
.ticketing{
    width: auto !important;
    margin-top: 20px !important;
    margin-bottom: 20px!important;
    margin-left:0px !important;
}

/* 차트 더 보기 버튼 */
.plus_icon{
    font-size: 1.25rem;
    float: right;
    margin-left: 8px !important;
    margin-top: 2.5px !important;
    color: #4346FF;
}

/* text style */

/* 카드내부 영화 제목*/
#movie_name{
    font-weight: bolder;
}

/* 카드 내부 예매율*/
#short_info{
    font-weight: normal;
    text-align: left;
}

/* 무비차트 글씨 */
#movie_chart{
    display:inline;
    font-weight: bold;
}

/* TOP5 */
#movie_rank{
    font-weight : bolder;
    color: #ff0088;
}

#more_chart{
    float: right;
    font-size:20px;
    margin-top: 24px;
    margin-bottom: 0;
    font-weight: bold;
    position: relative;
    vertical-align: bottom;
}
#more_chart:hover{
	color: #4346FF !important;
}

/* 영화 제목 (카드) */
.card-title{
    text-align: right;
    font-size:1rem !important;
    width:115px;
    max-width:115px;
    overflow: hidden;
    text-overflow: ellipsis;    
    float:right;
    word-break:keep-all;
    display:-webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp:2;
    
}

/* 예매율, 골든 */
.card-text{
	position:absolute;
	bottom:10px;
	right:10px;
    font-weight: lighter;
    font-size: small;
    text-align: right;
}
.card_moviechart .card-text{
	margin-right:0px !important;
}
.cardimg {
	position : relative;
}
.cardimg > strong{
	position : absolute;
	color: #FF0088;
	font-size:45px;
	font-weight:bolder;
	bottom:-20%;
	left:0%;
	
}
/* 	------------------------차트---------------------------	*/
   #chart_title{
        font-weight: bolder;
        text-align: center;
        margin-bottom:50px;
        font-size:40px;
    }
    .chart_area{
        display: flex;
        flex-wrap: wrap;
        justify-content:space-evenly;
    }
    .chart_card{
        width: 200px;
        overflow: hidden;
        text-align: center;
        margin:30px;
    }
    .card_rank{
        background-color: #FF0088;
        display: inline-block;
        color:white;
        font-weight: bold;
        text-align: center;
        width:195px;
        padding:2px;
        margin-bottom: 10px;
        border-radius: 5px;
    }
    .card_img{
        max-width: 200px;
    }
    .ctcard_title{
    	display:inline-block;
        font-weight: bolder;
        font-size:20px;
        margin:0px !important;
    }
    .chart_card .ratebutton{
    	display:inline-block; 
        width:25px;
        min-width:25px;
        height:25px;
        font-size:12px;
        margin-top:3px;
    }
    .card_detail{
        font-size:13px;
        margin-top:0px;
    }
    .card_button{
        background-color: #4346FF;
        color:white;
        font-size:15px;
        border-radius: 5px;
        border:none;
        width:90px;
        height:35px;
    }
    .card_dday{
    	font-size:15px;
    	margin-right:5px;
    	font-weight: bold;
    	color: #FF0088;
    }
/* ----------------------------로그인 ----------------------------*/
    .loginArea, .signupArea {
        margin:0px auto 80px auto;
        width: 40%;
      }

    #loginTitle, #signupTitle{
        text-align: center;
    }
    #loginTitle, #signupTitle > h1{
        margin-bottom:10px;
    }
    #loginText{
        font-size: 15px;
        margin-bottom:30px;
    }
    #login_form .bi{
        font-size: 30px;
        color:#A5A6F6;
        position:absolute;
        left:30px;
        top:10px;
    }
    #login_form .loginAlert{
        margin:0;
        min-width:20px;
        position:static;
    }
    .loginLb{
        box-sizing:border-box;
        width:90%;
        height: 60px;
        border-radius:10px;
        border: solid 3px #4346FF;
        font-size:18px;
        margin:5px auto;
        padding-left:50px;
     }
      /*로그인버튼*/
    .btn_login, .btn_signup{
        width:90%;
        height:60px;
        background-color: #4346FF;
        font-weight: bold;
        border-radius: 10px;
        border: none;
        color:#fff;
        font-size: 18px;
        cursor: pointer;
        margin:20px auto ;
    }
    .btn_login:hover, .btn_signup:hover, #doubleChkBt:hover{
    	background-color: #ff0088;
    }
    #goSignUpLabel{
        float: right;
        margin-right: 20px;
        color:#A5A6F6;
    }
 
/* 	------------------------회원가입----------------------------	*/   
    #signup_form{
        margin:50px auto;
    }
    .signup_label{
        width:100px;
        text-align: right;
        position:absolute;
        left: -100px;
        top:30%;
    }
    .signup_input{
        box-sizing:border-box;
        width:90%;
        height: 40px;
        border-radius:10px;
        border: solid 3px #4346FF;
        font-size:12px;
        margin:15px auto;
        padding-left:10px;
     }
    #userId{
        width:65%;
        margin-right:5px;
    }
    #doubleChkBt{
        background-color: #4346FF;
        width:23%;
        height:40px;
        font-weight: bold;
        border-radius: 10px;
        border: none;
        color:#fff;
    }
    .signupAlert, .loginAlert{
        position:absolute;
        font-size:13px;
        top:45px;
        left:25px;
        color:#ff0088;
    }
/* 	------------------------디테일----------------------------	*/
main {
	width: 65%;
	margin: 50px auto;
	overflow: auto;
	padding: 50px 0px;
}

.detail_imgarea {
	overflow: hidden;
	float: left;
	width: 356px;
	height: 500px;
}

.detail_imgarea>img {
	max-width: 356px;
}

.detail_textarea, .detail_reviewarea {
	position: relative;
	float: right;
	width: 550px;
	height: 450px;
	padding-top: 50px;
}

.detail_textarea>strong {
	font-size: 20px;
}

.ratebutton {
	background-color: #05E16A;
	border: none;
	font-weight: bold;
	color: white;
	border-radius: 5px;
	width: 30px;
	height: 30px;
	padding: 0;
	margin-right: 5px;
}

#detail_et {
	font-size: 12px;
	color: grey;
}

#detail_ct {
	font-size: 15px;
	text-align: justify;
	margin-top: 30px;
}

.detail_bt {
	width: 140px;
	height: 40px;
	border-radius: 6px;
	font-weight: bold;
	margin-right: 10px;
	cursor : pointer;
}

#detail_tb, #review_sb, #detail_tb_ac{
	background-color: #4346FF;
	color: white;
	border: none;
}

#detail_rb, #detail_rb_ac {
	background-color: white;
	color: #4346FF;
	border: 3px solid #4346FF;
}

#detail_forward {
	position: absolute;
	bottom: 0px;
}

.bi-egg-fill {
	color: yellow;
	font-size: 15px;
}
/* 	------------------------리뷰---------------------------	*/
#detail_rb,#detail_rb_ac {
	background-color: white;
	color: #4346FF;
	border: 3px solid #4346FF;
}

#review_form {
	margin-top: 20px;
}

.reviewform_lb {
	font-weight: bold;
	display: inline-block;
}

.reviewform_lb > input, .reviewform_lb > select, .reviewform_lb >textarea {
	margin-left: 10px;
	width: 180px;
	height: 20px;
	border: 2px solid #4346FF;
	border-radius: 5px;
	margin-right: 10px;
}

.reviewform_lb>textarea {
	vertical-align: top;
	width: 437px;
	height: 250px;
}

#review_sb {
	position: absolute;
	bottom: 0px;
	right: 5px;
}

/* 	------------------------예매---------------------------	*/
.tk_title {
	color: white;
	font-size: 20px;
	float: left;
}

#ticketing_form {
	width: 75%;
	margin: 50px auto;
	overflow: auto;
	font-weight: bold;
}

.ticketing_dt {
	float: right;
}

#datePicker_tk {
	border: white 2px solid;
	border-radius: 5px;
	color: white;
	background-color: transparent;
	padding-left: 10px;
	height: 25px;
	vertical-align: middle;
}

#datePicker_tk::placeholder {
	color: white;
}

.bi-calendar3 {
	color: #ff0088;
	font-size: 25px;
	vertical-align: middle;
	margin-right: 10px;
}

#screen {
	position: relative;
	background-color: #A5A6F6;
	clear: both;
	margin: 100px auto 80px auto;
	text-align: center;
	color: white;
	border-radius: 7px;
	height: 30px;
	padding-top: 5px;
}

#seatsarea {
	text-align: center;
}

.seatbutton {
	font-weight: bold;
	width: 35px;
	height: 35px;
	padding: 1px;
	border: none;
	margin: 4px;
	border-radius: 7px;
	background-color: white;
	color: #4346FF
}

.seatbutton:hover, .seat_clicked {
	background-color: #7879F1;
	color: white;
	font-weight: bolder;
}

.seatrow {
	display: inline-block;
	width: 30px;
	text-align: center;
	color: #ff0088;
	margin: 5px 15px;
}

#submit_tk {
	color: white;
	display: block;
	margin: 35px auto;
	background-color: #ff0088;
	font-weight: bold;
	border: none;
	border-radius: 5px;
	width: 100px;
	height: 35px;
}

#submit_tk:hover {
	color: #ff0088;
	background-color: white;
	border: #ff0088 2px solid;
}
/* 	------------------------마이페이지---------------------------	*/
    .mp_title{
        text-align:left;
        font-size:25px;
    }
    .mp_title .bi{
        color: #ff0088;
        margin-right: 10px;
    }
    #mp_userId{
        font-weight: bolder !important;
    }
    .mp_area{
        min-height: 180px;
        border-radius: 15px;
        padding:25px;
        box-sizing: border-box;
    }
    .mp_ticket{
        width:42%;
        background-color:#4346FF;  
        float:left;
    }
    .mp_review{
        width:55%;
        border : #4346FF 3px solid;
        float:right;
    }
    .mp_tktext{
        color:white;
        margin-bottom:2px;
    }
    .mp_rvtext{
        margin-bottom:2px;
    }
    #mp_tktitle, #mp_rvtitle{
        float:left;
        font-size: 15px;
        margin-top:13px;
        font-weight: bold;
    }
    #mp_tkcnt, #mp_rvcnt{
        float:right;
        font-size:25px;
        font-weight: bolder;
    }
    .mp_hr{
        clear:both;
        margin:15px auto;
    } 
    .mp_blanktxt{
        font-size: 13px;
        text-align: center;

    }
    .mp_mvtitle{
        font-size:15px;
        line-height:20px;
        font-weight: bold;
        display: inline-block;
        max-width:20%;
        white-space:nowrap;
        overflow:hidden;
        text-overflow:ellipsis;
    }
    .mp_mvdate{
        font-size:12px;
        line-height:20px;
        float:right;
        margin-right:10px;
    }
    .mp_seats{
        line-height:20px;
        font-weight: bolder;
        float:right;
    }
    .mp_stars{
        font-weight: bolder;
        float:right;
    }
    .mp_tklist{
        color:white;
    }
    .mp_comment{
        position:absolute;
        display: inline-block;
        font-size:12px;
        height:20px;
        margin-left: 10%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 45%;
        top:5px;
        left:15%;
        line-height:19px;
    } 
    .mp_rvlist{
        position:relative;
        line-height:27px;
    }
    #mp_lktitle{
        clear:both;
        padding-top:20px;
        position:relative;
        overflow: hidden;
    }
    #likedhr{
        display: inline-block;
        position:absolute;
        width:100%;
        top:47%;
        margin-left: 20px;
    }
     .card{
        float:left;
        box-sizing: border-box;
        border:#4346FF 2px solid;
        overflow: hidden;
        border-radius: 10px;
        position: relative;
/*         min-width: 12rem;  */
    }
    .mp_cardlist .card{
         margin-right:15px; 
         margin-bottom: 15px;    	
    }
    .imgarea {
        position: relative;
        width: 13rem; 
        height: 360px;
        overflow: hidden;
    }
    .imgarea > img {
        position: absolute; 
        top: 0; 		 
        left: 0;
        width: 13rem; 
    }
    .card-body{
        text-align: right;
    }
    .card .bi{
        position: absolute;
        display: inline-block;
        color:#ff0088;
        font-size: 30px;
        bottom:5px;
        left:10px;
    }
    .card-text{
        margin-right:10px;
        font-size:13px;
    }
    #lkcard_title{
        font-weight: bold;
        font-size:18px;
    }
    .mp_cardlist{
        display: flex;
        flex-wrap: wrap;
        margin-left:5%;
    }
    .mp_icon{
    	float:right; 
    	margin-left:5px; 
    	font-size:12px;
    	line-height:20px;
    }
    .mp_icon:hover{
    	color:#ff0088
    }
    .rv_icon{
    	line-height:27px;
    	color:#4346FF;
    }
 
    .popup_comment{
   		display:inline-block;
   		font-size:12px;
    }
    .popup_btn{
    	 display:inline-block;
    	 font-size:12px;
    }